# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
onto-demo-client/node_modules
siopv2-openid4vp-demo-backend/node_modules
onto-demo-shared-types/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/conf

npm-debug.log*
yarn-debug.log*
yarn-error.log*
onto-demo-client/yarn.lock
siopv2-openid4vp-demo-backend/yarn.lock
onto-demo-shared-types/yarn.lock
yarn.lock

.idea

