@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Inter', serif;
    user-select: none;
}

text {
    font-family: 'Poppins', 'Inter', serif;
}

p {
    margin: 0;
}

:root {
    --swiper-theme-color: white;
}
