.App {
    text-align: center;
    padding: 40px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #353438;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 4px 10px;
}

.App-link {
    color: #61dafb;
}

.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}

.kvkCredential{
    color: #ffffff;
    text-underline-style: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
