.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    position: relative;
    min-height: 600px;
}

.captionContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    position: absolute;
    top: 25%;
    width: 100%;
    min-height: 150px;
}

.bottomWrapper {
    justify-content: center;
    margin-top: auto;
    margin-bottom: calc(160px - 4vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verificationContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    margin-bottom: 60px;
}

/* For smaller screens */
@media (max-height: 800px) {
    .bottomWrapper {
        margin-bottom: calc(100px - 2vh);
    }
    .captionContainer {
        top: 15%;  /* Bring it a bit higher */
    }
}


.mainTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.subTitle {
    color: #424242;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.spacer {
    height: 10px;
}

.description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.rightPanel {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

