.captionContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.caption {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.rightPanel {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

