.gradientText {
    background: linear-gradient(135deg, #7276F7 0%, #7C40E8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* change the size of the bullet and active color */

.swiper-pagination-bullet {
    background-color: red;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

/* change color of next 2 bullets in sequence to white*/

.swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-next-next {
    background-color: white;
}

/* change color of previous bullet to white*/

.swiper-pagination-bullet-active-prev {
    background-color: white;
}
